<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="testcases2.Task13"/>
      <class name="testcases.App"/>
      <class name="testcases.AppBeforeAfterSuit"/>
      <class name="testcases.AppAssertions"/>
      <class name="testcases.AppDependsOnMethods"/>
      <class name="testcases.AppDataProvider"/>
      <class name="testcases.Task"/>
      <class name="testcases.AppBeforeAfterTest"/>
      <class name="testcases.AppSkipTest"/>
      <class name="testcases.AppBeforeAfterMethod"/>
      <class name="testcases.AppPriority"/>
      <class name="testcases.Annotations"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
